.list-heading {
  display: none;
}

.book-button {
  position: relative;
  appearance: none;
  border: none;
  text-align: left;
  padding: 0;
  margin: 0;
  background: var(--secondary);
  display: inline-block;
  font-weight: 900;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  color: var(--primary);
  .book-wrapper {
    width: 100%;
    height: 100%;
    min-height: 100px;
  }
  .book-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: all 300ms;
  }
  &:hover,
  &:focus {
    img {
      transform: scale(1.05);
    }
  }
  .book-content {
    display: none;
  }
}

.list {
  .list-heading {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
    margin-top: 2rem;
    display: block;
    &:first-of-type {
      margin-top: 0;
    }
  }
  .book-button {
    height: auto;
    display: block;
    padding: 12px;
    border: 3px solid var(--primary);
    margin-bottom: 12px;
    overflow: visible;
    transition: all 300ms;
    text-transform: lowercase;
    transition: none;
    &:hover {
      background-color: var(--primary);
      color: var(--secondary);
    }
    @media only screen and (min-width: 640px) {
      padding: 20px;
      margin-bottom: 20px;
      height: 200px;
    }
    .book-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1rem;
      height: 100%;
    }
    .book-image {
      height: auto;
      width: 75px;
      object-fit: contain;
      transition: none;
      @media only screen and (min-width: 640px) {
        height: 100%;
        width: auto;
      }
    }
    .book-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      height: 100%;
      width: 100%;
    }
    .book-title {
      margin-bottom: 8px;
      line-height: 1;
      font-size: 1rem;
      @media only screen and (min-width: 640px) {
        font-size: 1.5rem;
      }
    }
    .book-author {
      margin-bottom: 8px;
      line-height: 1;
      font-size: 1rem;
      @media only screen and (min-width: 640px) {
        font-size: 1.25rem;
      }
    }
    .book-divider {
      width: 175px;
      border-bottom: 2px solid var(--primary);
      margin: 0 0 8px 0;
    }
    .book-info-item {
      display: none;
      margin-bottom: 8px;
      line-height: 1;
      &.active {
        display: block;
      }
      @media only screen and (min-width: 640px) {
        display: none;
      }
    }
    .book-info-item.book-rating {
      display: block;
      @media only screen and (min-width: 1024px) {
        display: none;
      }
    }
    &:hover,
    &:focus {
      .book-divider {
        border-bottom: 2px solid var(--secondary);
      }
    }
    .book-rating {
      display: none;
      white-space: nowrap;
      @media only screen and (min-width: 1024px) {
        display: block;
      }
    }
  }
}
