.main {
  height: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
  padding: 87px 0 20px 0;
  @media only screen and (min-width: 768px) {
    flex: 1;
    padding: 20px 0;
  }
}

.wrapper {
  width: auto;
  height: 100%;
  padding: 0 20px;
  @media only screen and (min-width: 768px) {
    padding: 0 20px 0 327px;
  }
}
.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 20px;
  @media only screen and (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @media only screen and (min-width: 1080px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  @media only screen and (min-width: 1580px) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  &.list {
    display: block;
  }
}
