.button-box {
  position: fixed;
  width: 100%;
  max-width: 300px;
  left: 0;
  bottom: 0;
  display: none;
  z-index: 2;
  border-top: 3px solid var(--primary);
  @media only screen and (min-width: 768px) {
    display: flex;
  }
}

button.reset-button {
  background-color: var(--secondary);
  color: var(--primary);
  margin: 0;
  border: none;
  width: 100%;
  z-index: 2;
  &:hover {
    background-color: var(--primary);
    color: var(--secondary);
  }
}
