.panel {
  width: 100%;
  height: 100dvh;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 300ms, height 300ms;
  background-color: var(--secondary);
  &[data-panel='options'] {
    transform: translateX(0);
  }
  &.active {
    transform: translateX(0);
  }
}
