.button {
  width: 100%;
  height: auto;
  padding: 24px 16px;
  margin: 0;
  background-color: var(--secondary);
  color: var(--primary);
  appearance: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-bottom: 3px solid var(--primary);
  cursor: pointer;
  .title {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1;
    margin: 0;
  }
  .value {
    line-height: 1;
    font-size: 1rem;
    margin: 0;
  }
}
