:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: lowercase;

  /* Colors */
  --black: #242424;
  --white: #efefef;
  /* --white: rgba(250, 250, 250, 0.95); */
  --lighter-grey: #f5f5f5;
  --light-grey: #cccccc;
  --medium-grey: #999999;
  --dark-grey: #646464;
  --blue: #646cff;

  --primary: var(--black);
  --secondary: var(--white);
  --active: var(--medium-grey);
  --hover: var(--light-grey);
  --set: var(--primary);
  --accent: var(--blue);

  /* Borders */
  --border-thick: 7px solid var(--primary);
  --border-medium: 5px solid var(--primary);
  --border-thin: 3px solid var(--primary);

  height: 100%;
  min-height: 100%;
  background-color: var(--secondary);
  color: var(--primary);

  /* Dark Mode */
  [data-theme='dark'] {
    --primary: var(--white);
    --secondary: var(--black);
    --active: var(--medium-grey);
    --hover: var(--dark-grey);
    --set: var(--primary);
    --accent: var(--blue);
  }
}

html,
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--secondary);
}

h1,
.h1 {
  font-size: 2.25rem;
  font-weight: 900;
  letter-spacing: -1px;
  margin: 0 0 16px 0;
}

h2,
.h2 {
  font-size: 2rem;
  font-weight: 800;
  margin: 0 0 16px 0;
}

h3,
.h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 16px 0;
}

h4,
.h4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 0 16px 0;
}

h5,
.h5 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0 0 16px 0;
}

h6,
h6 {
  font-size: 1rem;
  font-weight: 800;
  margin: 0 0 16px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5;
  font-weight: 400;
  margin: 0 0 16px 0;
}

a {
  font-size: 1rem;
  font-weight: 500;
  color: #646cff;
  text-decoration: underline;
}
a:hover {
  color: #535bf2;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
