.button {
  position: relative;
  appearance: none;
  border: none;
  text-align: left;
  padding: 0;
  margin: 0;
  background: var(--secondary);
  display: inline-block;
  font-weight: 900;
  width: 100%;
  height: 100%;
  max-height: 300px;
  cursor: pointer;
  overflow: hidden;
  color: var(--primary);
}
.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100px;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  transition: all 300ms;
}

&:hover,
&:focus {
  img {
    transform: scale(1.05);
  }
}
.content {
  display: none;
}

.listHeading {
  display: none;
}

.list {
  &.button {
    height: auto;
    display: block;
    padding: 12px;
    border: 3px solid var(--primary);
    margin-bottom: 12px;
    overflow: visible;
    transition: all 300ms;
    text-transform: lowercase;
    transition: none;
    &:hover {
      background-color: var(--primary);
      color: var(--secondary);
    }
    @media only screen and (min-width: 640px) {
      padding: 20px;
      margin-bottom: 20px;
      height: 200px;
    }
    .wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1rem;
      height: 100%;
    }
    .image {
      height: auto;
      width: 75px;
      object-fit: contain;
      transition: none;
      @media only screen and (min-width: 640px) {
        height: 100%;
        width: auto;
      }
    }
    .content {
      display: flex;
    }
  }
}
