.mobile-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  /* transform: translateX(100%);
  transition: transform 300ms; */
  z-index: 2;
  overflow: hidden;
  background-color: var(--secondary);
  &.open {
    transform: translateX(0);
  }
}

.mobile-panel {
  width: 100%;
  height: 100dvh;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 300ms, height 300ms;
  background-color: var(--secondary);
  &[data-panel='options'] {
    transform: translateX(0);
  }
  &.active {
    transform: translateX(0);
  }
}

.mobile-panel-header {
  width: auto;
  height: 60px;
  border-bottom: 7px solid var(--primary);
  background-color: var(--secondary);
  color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  position: relative;
  .back-button {
    border: none;
    appearance: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: var(--secondary);
    i {
      color: var(--primary);
      font-size: 1.5rem;
    }
    &:hover i {
      color: var(--hover);
    }
  }
  .icon {
    font-size: 1.5rem;
  }
  .title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    margin: 0;
  }
}

.mobile-wrapper {
  height: 100%;
  width: 100%;
  overflow: scroll;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 127px;
}

.mobile-panel-button {
  width: 100%;
  height: auto;
  padding: 24px 16px;
  margin: 0;
  background-color: var(--secondary);
  color: var(--primary);
  appearance: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-bottom: 3px solid var(--primary);
  cursor: pointer;
  .title {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1;
    margin: 0;
  }
  .value {
    line-height: 1;
    font-size: 1rem;
    margin: 0;
  }
}

/* Mobile Radio Buttons */
.mobile-radio-button,
.mobile-tag-button {
  width: 100%;
  &:has(.mobile-tag:disabled) {
    display: none;
  }
  .mobile-radio,
  .mobile-tag {
    position: absolute;
    left: 0;
    opacity: 0;
  }
  .mobile-radio-label,
  .mobile-tag-label {
    padding: 16px;
    color: var(--primary);
    background-color: var(--secondary);
    cursor: pointer;
    width: 100%;
    display: block;
    box-sizing: border-box;
    border-bottom: 3px solid var(--primary);
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    &:hover,
    &.active {
      background-color: var(--hover);
    }
  }
  .mobile-radio:checked + .mobile-radio-label,
  .mobile-tag:checked + .mobile-tag-label {
    background-color: var(--primary);
    color: var(--secondary);
  }
}
